@use 'base/mixins' as m;
@use 'base/variables' as v;

.ItemAppMusic {
    display: flex;
    flex-direction: column;
    width: 23rem;
    height: 23rem;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.11);
    transition: box-shadow 0.1s linear, transform 0.2s ease-in-out;
    border-radius: 2rem;

    &:hover {
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    }
    .ItemAppMusic__imagen {
        height: 14rem;
        width: 23rem;
        position: relative;
    }

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 2rem;
    }
}
.ItemAppMusic.selected {
    z-index: 2;
    transform: scale(1.1);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    background-color: v.$blanco;
}
.ItemAppMusic__texto {
    position: relative;
    padding: 1rem 1.5rem;
    text-align: center;
    justify-content: center;
}
.ItemAppMusic__texto__titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    .ItemAppMusic__texto-1 {
        margin: 0;
        font-size: 2rem;
        color: v.$negro;
    }

    .ItemAppMusic__texto-2 {
        margin: 0;
        font-size: 1.5rem;
        color: rgb(26, 26, 26);
    }
}

.ItemAppMusic__texto-3 {
    margin: 0;
    font-size: 1.7rem;
    color: v.$negro;
}
.ItemAppMusic__botones {
    position: relative;
    margin: 0;
    padding: 0;
}
