@use 'base/mixins' as m;
@use 'base/variables' as v;

.footer{
    background-color: v.$blanco;
    height: 6rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-top: 2px solid v.$gris;
    @include m.tablet {
        justify-content: space-between;
        flex-direction: row;
        
    }

}


.footer_content{

    p{
        margin: 0;
        color: v.$oscurecer;
        text-align: center;
        padding-left: 0rem;

        @include m.tablet {
            padding-left: 3rem;
        }

        span{
            font-weight: 700;
            font-size: 1.8rem;
            color: v.$oscurecer;
        }
    }
}
.footer_content2{
    
    @include m.tablet {
        margin-right: 4rem;
    }
}
