@use 'base/mixins' as m;
@use 'base/variables' as v;


.header{
    background-color: v.$primario;
    display: block;
}
.header-img {
    display: block;
    height: 100%;
    width: 100%;
    outline: none;
    padding: 15rem;
    
    z-index: 1;
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size:contain;
}
