@use 'base/mixins' as m;
@use 'base/variables' as v;


.active{
    font-weight: bold;
    text-decoration:underline;
    
}

.header__nav {
    /* position: fixed; */
    width: 100%;
    display: flex;
    background-color: v.$primario;
    color: v.$blanco;
    justify-content: center;
    padding-top: 2.5rem;
    height: 6rem;
    /* margin: 0 0 1rem 0; */
    

    .header__web-tittle{
        display: none;
        font-size: 2.8rem;
        padding-left: 10rem;
        margin: 0;
        color: v.$secundario;
        @include m.tablet {
            display:block;
        }
    }
    

    @include m.tablet {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    .header__links{
        display: flex;
        gap: 2rem;
        justify-content: center;
        font-size: 1.4rem;
        z-index: 1;

        
        
        
        @include m.tablet {
            grid-column: 2 / 3;
            gap: 4rem;
            justify-content: left;
        }


        .header__links__link {
            color: v.$blanco; 
            text-transform: uppercase;
            transition-property: color;
            transition-duration: 1s;
            transition-timing-function: ease-out;
            

            &:hover {
                cursor: pointer;
                transition-property: color;
                transition-duration: 1s;
                transition-timing-function: ease-out;
                color: v.$secundario;
            }
        
        }
        
        
    }


}


@media (max-width: 480px) {
    .header__nav{ 
        

        .header__links__link{
            /* display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: 2; */
            height: 7rem;
            align-items: center;
            justify-items: center;
            gap: 1rem;
            
        
        }

    }
}