@forward 'palabras-del-equipo';
@forward 'info-card';
@forward 'contact-form';
@forward 'footer';
@forward 'header';
@forward 'social-icons';
@forward 'header__nav';
@forward 'simple-text';
@forward 'error-page';
@forward 'contact-info';
@forward 'nuestras-caracteristicas';
@forward 'testimonio';
@forward 'youtubeEmbed';
@forward 'algunas-producciones';
@forward 'galeria-de-imagenes';