@use 'base/mixins' as m;
@use 'base/variables' as v;


.InicioPaneldeControl__mensajes{
    display: flex;
    justify-content: center;
    margin: 5rem 0;
}

.mensajes-del-sistema__bloque{
    appearance: none;
    background-color: v.$gris;
    min-height: 10rem;
    padding: 1rem;
    border-radius: 1rem;
    
    h3{
        
        color: v.$negro;
        margin: 0 0 2rem 0;
        font-size: 2rem;
    }
    
    ul{
        padding: 0;
    }
    li{
        list-style: none;
        margin: 0;
        padding: 5px;

    };
}