@use 'base/mixins' as m;
@use 'base/variables' as v;

.nuestras-caracteristicas{
    
    margin: 17rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap:nowrap;
}

.nuestras-caracteristicas__titulo{
    
        color: v.$negro;
        margin-bottom: 8rem;
    
   
}
.nuestras-caracteristicas__elemento{
    width: 100%;
    display: flex;
    align-items:first baseline;
    justify-content: center;
    flex-wrap:wrap;
    gap: 1rem;
}