@use 'base/mixins' as m;
@use 'base/variables' as v;
.algunas-producciones{


    h2{
        text-align: center;
        margin-top: 3rem;
        margin-bottom: 6rem;
    }

}

.algunas-producciones__botones{
    display: flex;
    gap: 2rem;
    padding: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 6rem;

}

.algunas-producciones__boton{

    background-color: v.$primario;
    width: 15rem;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform .2s;
    border-radius: 10px;
    &:hover{
        transform: scale(1.15);
        cursor: pointer;
        box-shadow: 7px 6px 8px #0000002a;
    }
    p{
        font-size: 2rem;
        margin: 0;
        padding: .5rem;
        text-align: center;
        color: v.$blanco;
    }
}


.algunas-producciones__videoDiv{
    margin: 0 auto 4rem auto;
}

.algunas-producciones__detalles{
    display: flex;
    flex-direction: column;
    background-color: v.$negro;
    color: v.$blanco;
    border-radius: 10px;
    margin-bottom: 2rem;
    padding: 1rem;
    transition: transform .2s;
    &:hover{
        transform: scale(1.05);
        box-shadow: 7px 6px 8px #0000002a;
    }

}
.algunas-producciones__detalles__links{
    display: flex;
    gap: 4rem;
    justify-content: center;
    flex-wrap: wrap;
    
    a{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        p{
            color: gray;
        }
    }
}
.algunas-producciones__detalles__texto{
    
    h3{
        margin-bottom: 2rem;
        font-weight: 400;
        font-size: 2.5rem;
        text-align: center;
        span{
            color: v.$secundario;
        }
    }
    p{
        
        color: gray;
        text-align: center;
        font-size: 2rem;
    }
}