@use 'base/mixins' as m;
@use 'base/variables' as v;

.simple-text_info {
    
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    
    h1{
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
        margin-bottom: 0;
        font-size: 2.5rem;
        margin-top: 2rem;
        

        @include m.tablet {
            font-size: 4rem;
            margin-top: 7rem;
        }
    }
    h3{
        text-transform: uppercase;
        margin-bottom: 0;
        margin-top: 12rem;

    }
    p{
        text-align: justify;
    }

}