@use 'base/mixins' as m;
@use 'base/variables' as v;

.socialIcons{
    margin: 0;
    display: none;
    gap: 3rem;
    z-index: 1;
    order: 1;
    justify-content: center;
    align-items: center;
    
    
    @include m.tablet {
        display: flex;
    }



}

.social-icon{
    transition-property: top;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    position: relative;
    top: 0rem;
    color: v.$blanco;
    
    &:hover{
        top: -0.7rem;
        transition-property: top;
        transition-duration: .2s;
        transition-timing-function: ease-in-out;
    }


}