@use 'base/mixins' as m;
@use 'base/variables' as v;


.social-icon{
    transition-property: top;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    position: relative;
    top: 0;
    color: v.$secundario;
    
    &:hover{
        top: -7px;
        transition-property: top;
        transition-duration: .2s;
        transition-timing-function: ease-in-out;
    }


}