@use 'base/mixins' as m;
@use 'base/variables' as v;


.testimonio{
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin: 0 auto;
    @include m.tablet {
        max-width: 60%;
    }
    h3{
        text-align: center;
        text-transform: uppercase;
        font-size: 4rem;
    }
    h4{
        font-size: 2.5rem;
        margin-top: 1rem;
    }
    p{
        font-style: italic;
        color: rgb(46, 46, 46);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

}

.testimonio__imagen{
    width: 12rem;
    display: flex;
    margin: 0 auto;

    img{
    
        height: 12rem;
        border-radius: 50%;
        box-shadow: 3px 4px 10px #0000005d;
    }
}