@use 'base/mixins' as m;
@use 'base/variables' as v;

.palabras-del-equipo {
    display: grid;

    @include m.tablet {
        @include m.grid(2, 2rem);
    }

    h4 {
        font-size: 3rem;
        text-align: center;
        @include m.tablet {
            text-align: left;
        }
    }
}
.palabras-del-equipo_foto {
    max-height: 50rem;
    margin: 0 auto;

    img {
        object-fit: contain;
        border-radius: 4px;
        /* filter: grayscale(90%); */
        background-color: v.$cuaternario;
        box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.295);
    }
}
.palabras-del-equipo_parrafo-principal {
    font-style: italic;
    text-align: justify;
    line-height: 2;
    span {
        color: v.$oscurecer;
        font-size: 3rem;
    }
}
.palabras-del-equipo_firma {
    width: 30rem;
    display: grid;
    @include m.grid(2, 1rem);

    .palabras-del-equipo_firma_titulo {
        color: gray;
        padding-top: 2rem;
    }
}

.palabras-del-equipo_firma-firma {
    width: 10rem;
    height: 15rem;
}
