

.fxElement{
    opacity: 0;
    transition: all .5s;
}

.fxMostrarArriba {
animation: fxMostrarArriba 1s;

}

@keyframes fxMostrarArriba{
    0% {
        transform: translateY(6rem);
    }
    100%{
        transform: translateY(0);
    }
}

.fxMostrarIzquierda {
    animation: fxMostrarIzquierda 1s;
    
    }
    
    @keyframes fxMostrarIzquierda{
        0% {
            transform: translateX(6rem);
        }
        100%{
            transform: translateX(0);
        }
    }

    .fxMostrarSkew {
        animation: fxMostrarSkew 1s;
        
        }
        
        @keyframes fxMostrarSkew{
            0% {
                transform:rotate(90deg)
            }
            100%{
                transform: rotate(0);
            }
        }