@use 'variables' as v;

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body{
font-family: v.$fuente_principal;
font-size: 1.6rem;


    &.fijar-body {
        overflow: hidden;
    }
    &.body-scroll {
        padding-top: 8.6rem;
    }
}
p {
    font-size: 1.5rem;
    color: v.$negro;
    line-height: 1.5;
}
.contenedor {
    width: 97%;
    max-width: 120rem;
    margin: 0 auto;
}
.contenedor-main {
    width: 97%;
    max-width: 120rem;
    margin: 0 auto;
    min-height:100vh;
    position:relative;
}
a {
    text-decoration: none;
}
h1,h2,h3 {
    margin: 0 0 5rem 0;
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.6rem;
}
h3 {
    font-size: 3rem;
}
img {
    max-width: 100%;
    width: 100%;
    height: 100%;

    display: block;
}
.default-img {
    margin: 0 auto;
    z-index: 10;
    min-width: 30rem;
}

.default-contenedor {
    max-width: 100%;
    margin: 0 auto; 
    max-height: 50rem;
    overflow: hidden;  
}

