@use 'variables' as v;
@use 'base/mixins' as m;

html {
    font-size: 62.5%;
    box-sizing: border-box;
    /* scroll-snap-type: y proximity; */
    position: relative;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: v.$fuente_principal;
    font-size: 1.6rem;


    &.fijar-body {
        overflow: hidden;
    }

    &.body-scroll {
        padding-top: 8.6rem;
    }
}

p {
    font-size: 1.5rem;
    color: v.$negro;
    line-height: 1.5;
}
.contenedor {
    width: 97%;
    max-width: 125rem;
    margin: 0 auto;
}

.contenedor-basic {
    width: 97%;
    margin: 0 auto;
    
}

.contenedor-main {
    padding-top: 6rem;
    position: relative;
}

.center {
    text-align: center;
    align-items: center;

    p {
        text-align: center;
    }
}

/* .beatplaying {
    transform: scale(1.05);
} */




a {
    text-decoration: none;
    color: v.$negro;
    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: ease-out;

    &:hover {
        color: rgb(61, 61, 61);
        transition-property: color;
        transition-duration: .3s;
        transition-timing-function: ease-out;
    }
}

h1,
h2,
h3 {
    margin: 0 0 5rem 0;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 3rem;
}

img {
    max-width: 100%;
    width: 100%;
    height: 100%;

    display: block;
}

.default-img {
    margin: 0 auto;
    z-index: 10;
    min-width: 30rem;
}

.default-contenedor {
    max-width: 100%;
    margin: 0 auto;
    max-height: 50rem;
    overflow: hidden;
}

input{
    border: 0;
    margin: .5rem;
}