// Tipografia
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

$fuente_principal: 'Roboto', sans-serif;




//Colores
$secundario: #ebc246;
$primario: #1ab5e6;
$negro: #000000;
$blanco: #FFFFFF;

//Tamanos de patallas para Media Queries

$celular: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL:1200px;
