@use 'base/mixins' as m;
@use 'base/variables' as v;

.error-page {
    background-color: v.$blanco;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 15rem;

    .error-page__errorType {
        font-size: 9rem;
        color: v.$secundario;
        z-index: 0;
        font-weight: 700;
        margin: 0 auto;
    }

    h1 {
        color: v.$primario;
        font-size: 13rem;
        z-index: 1;
        margin: 0;
    }
    h2 {
        color: v.$terciario;
        font-size: 3rem;
        font-weight: 700;
        z-index: 1;
    }

    p {
        color: v.$terciario;
        font-size: 2.7rem;
    }
}

.error-page__redirigir {
    z-index: 1;
    font-size: 1.9rem;
    .error-page__redirigir__button {
        border: 0;
        color: v.$terciario;
        background-color: v.$secundario;
        height: 10rem;
        width: 10rem;
        font-weight: 700;
        transition: transform 0.2s;
        text-transform: uppercase;
        margin: 0 auto;
        padding-top: 3.5rem;
        border-radius: 100%;
        &:hover {
            box-shadow: 7px 6px 8px #0000004f;
            transform: scale(1.03);
        }

        a {
            color: v.$blanco;
            font-size: 3rem;
        }
    }
}
.error-page__redirigir__text {
    font-size: 1.9rem;
    font-weight: 200;
}
