@use 'base/mixins' as m;
@use 'base/variables' as v;

.AvatarUsers {
    img {
        margin: 0;
        border-radius: 50%;
        box-shadow: 2px 3px 10px #00000031;
        object-fit: cover;
    }
}
