@use 'base/mixins' as m;
@use 'base/variables' as v;


.login_container {
    display: flex;
    padding: 1rem;
    flex-direction: column;

    
    @include m.tablet {
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        
    }
    
    p {
        
        text-align: left;
        text-align: center;
        color: v.$negro;
    }
    
    label {
        display: flex;
        align-items: center;
        justify-content: left;
        height: 3rem;
        width: 15rem;
    }
    
    input {
        appearance: none;
        border-radius: 5px;
        font-size: 1.4rem;
        width: 100%;
        
        @include m.tablet {
            width: 100%;
            
            
        }
        &:focus{
            outline-color: v.$primario;
        }
    }
    a{
        &:focus{
            outline-color: v.$primario;
        }
    }
    
    .login_buttons{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
        @include m.tablet {
            gap: 2rem;
            flex-direction: row;
        }
        
        .login_buttons__button{
            display: flex;
            margin: 0;
            margin-bottom: 2rem;
            align-items: center ;
            gap: .5rem;
            padding: 5px;
            border-radius: 5px;
            height: 70%;
            @include m.tablet {
                margin-bottom: 0;
            }
        }
        
        button {
            display: flex;
            gap: .5rem;
            align-items: center;
            justify-content: center;
            border: none;
            border-radius: 5px;
            height: 3rem;
            width: 100%;
            padding: 1rem;
            color: v.$negro;
            opacity: 1;
            transition: opacity 0.3s ease-in-out;
            transition: box-shadow .5s;
            cursor: pointer;
            
            &:active {
                opacity: .5;
                transform: scale(.8);
            }
            
            &:hover {
                opacity: .9;
                box-shadow: 2px 2px 2px #0000001f;
            }
            &:focus{
                outline-color: v.$primario;
            }
        }
    }
}
.login__form{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    
}

.login_container_input {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}