@use 'base/mixins' as m;
@use 'base/variables' as v;

.TypeOfUser__container {
    border: 1px solid rgba(128, 128, 128, 0.144);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.096);
    border-radius: 2rem;
    margin: 6rem 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25rem;
    position: relative;

    @include m.tablet {
        max-width: 40rem;
    }
    h3 {
        text-transform: uppercase;
        font-size: 2rem;
        margin-bottom: 2rem;
    }
}
.TypeOfUser__input:checked {
    background-color: v.$primario;
}
.TypeOfUser__buttons {
    margin-top: 3rem;
    z-index: 1;
}

.TypeOfUser__button {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    height: 3rem;
    width: 100%;
    padding: 1rem;
    color: v.$negro;
    background-color: v.$secundario;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    transition: box-shadow 0.5s;
    cursor: pointer;
    text-transform: uppercase;

    &:active {
        opacity: 0.5;
        transform: scale(0.8);
    }

    &:hover {
        opacity: 0.9;
        box-shadow: 2px 2px 2px #0000001f;
    }

    &:focus {
        outline-color: v.$primario;
    }
}
