@use 'base/mixins' as m;
@use 'base/variables' as v;

.pagelayer-shape-fill{
    fill: v.$blanco;
    height: 100%;
}
.pagelayer-svg{
    width: 100%;
    height: 6rem;
    
    
}
.contacto-grid {
    display: grid;
    grid-template-columns: 1fr;
    color: v.$negro;
    align-items: center;
    justify-content: center;
    width: 85%;
    margin: 0 auto;

    @include m.tablet {
        
        grid-template-columns: repeat(2, 1fr);
        
    }
    
}
.contacto_info-Icons{
order: 2;
text-align: center;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
margin: 0 auto;
max-width: 60rem;

grid-template-columns: repeat(2,50%);
gap: 1rem;
@include m.tablet {
    order: 1;
}
a{
    text-decoration: none;
    color: v.$secundario;

}

}
.formulario {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 70%;
    order: 1;
    border-radius: 5px;
    
    margin: 0 auto 3rem auto;
    justify-content: center;
    @include m.tablet {
        padding: 2rem 4rem;
        width: 85%;
        background-color: rgba(0, 0, 0, 0.06);
        order: 2;  
    }
    @include m.desktop {
        width: 70%;
    }
    
    .form-label{
        font-size: 1.8rem;
    }
    .form-control{
        width:100% ;
        border: none;
        height: 3rem;
        border-color: v.$primario;
        border-radius: 5px;

        color: rgb(27, 27, 27);
        &:focus{
            outline-color: v.$primario;
        }
    }
    .mb-3{
        margin-bottom: 2rem;
    }
    .form-control2{
        width:100% ;
        border: none;
        height: 10rem;
        color: rgb(27, 27, 27);
        border-radius: 5px;

        &:focus{
            outline-color: v.$primario;
        }
    }

}
.contact__button{
    display: flex;
    justify-content: center;
    button {
        font-size: 2rem;
        background-color: v.$primario;
        margin: 1rem;
        padding: .5rem 2rem;
        border: none;
        border-radius: .5rem;
        color: v.$blanco;
        transition-property: color;
        transition-duration: 1s;
        transition-timing-function: ease-out;
        transition: transform 1s;
        &:hover{
            transition-duration: .8s;
            transition-timing-function: ease-out;
            transform: scale(1.1);
        }
        &:focus{
            outline-color: v.$secundario;
        }


    }
}
.recaptcha{
    display: flex;
    justify-content: center;
    border-radius: 5px;
   

}
.contact-form__mensaje-status{
    text-align: center;
    background-color: rgba(255, 0, 0, 0.778);
    color: v.$negro;
    width: 20rem;
    margin: 1rem auto;
}