@use 'base/mixins' as m;
@use 'base/variables' as v;


.nav_menu-active{
    font-weight: bold;
    text-decoration:underline;
    
}

.header__nav {
    /* position: fixed; */
    width: 100%;
    display: flex;
    background-color: v.$primario;
    color: v.$blanco;
    justify-content: center;
    padding-top: 2rem;
    height: 6rem;
    button{
        width: 4rem;
        height: 3rem;
        border: none;
        background-color:v.$secundario;
        display: none;
        &:hover{
            cursor: pointer;
        }
        
    }

    .nav-toggle{
        align-items: center;
        color: v.$blanco;
    }
    

    h1{
        display: none;
        font-size: 2rem;
        padding-left: 10rem;
        margin: 0;
        color: v.$secundario;
        @include m.tablet {
            display:block;
        }
    }
    

    @include m.tablet {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    nav{
        display: flex;
        gap: 2rem;
        justify-content: center;
        font-size: 1.1rem;
        z-index: 1;

        
        
        
        @include m.tablet {
            grid-column: 2 / 3;
            gap: 4rem;
            justify-content: left;
        }


        a {
            color: v.$blanco; 
            text-transform: uppercase;
            transition-property: color;
            transition-duration: 1s;
            transition-timing-function: ease-out;
            

            &:hover {
                cursor: pointer;
                transition-property: color;
                transition-duration: 1s;
                transition-timing-function: ease-out;
                color: v.$secundario;
            }
        
        }
        
        
    }


}


@media (max-width: 480px) {
    .header__nav{ 
        padding-top: 0.5rem;

        nav{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: 2;
            height: 7rem;
            align-items: center;
            justify-items: center;
            gap: 1rem;

            
            /* position: fixed; 
            top: 1rem;
            right: 1rem;*/
            
        
        }

        /* button {
            display: block;
        } */
    }
}

.clickbuttonmenu{
    display: none;
}