@use 'base/mixins' as m;
@use 'base/variables' as v;


.header{
    background-color: v.$primario;
    display: block;
}

/* SocialIcons Personalizado para el header */

.header__socialIcons{
    max-width: 40rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    z-index: 5;
    

    @include m.tablet {
        margin-right: 13%;
        padding-bottom: 2rem;
    }

}

.header__socialIcons__icons{
    transition-property: top;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    position: relative;
    top: 0;
    color: v.$secundario;
    
    &:hover{
        top: -7px;
        transition-property: top;
        transition-duration: .2s;
        transition-timing-function: ease-in-out;
    }


}