@use 'base/mixins' as m;
@use 'base/variables' as v;


.inicio_info1_servicios-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    scroll-snap-align: center;
    @include m.tablet {
        flex-direction: row;
        align-items: flex-start;
        gap: 2.5rem;
    }
}
.acerca-de-nosotros{
    scroll-snap-align: center;
}
.inicio__Caracteristicas{
    scroll-snap-align: center;
}

