@use 'base/mixins' as m;
@use 'base/variables' as v;


.nosotros-img{
    margin: 0 auto;
    z-index: 10;
    height: 100%;
    width: 100%;
    outline: none;
    padding: 20rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
    /* filter:brightness(30%); */
    filter:opacity(30%);
    
}

.nosotros-contenedor {
    max-width: 100%;
    margin: 0 auto; 
    max-height: 50rem;
    overflow: hidden;
    z-index: 11;

}