@use 'base/mixins' as m;
@use 'base/variables' as v;


.nosotros__testimonios{

    background-color: v.$secundario;
    margin-top: 10rem;
    padding-top: 10rem;
    overflow: hidden;
    
    svg{
        transform: scale(1.2)
    }
    
}

.nosotros__pagelayer-shape-fill{
    fill: v.$secundario;
}