@use 'base/mixins' as m;
@use 'base/variables' as v;

.panel-de-control {
    position: relative;

    @include m.tablet {
        display: grid;
        grid-template-columns: 1fr 6fr;

    }

}

.panel-de-control__menu_celular {
    border: none;
    position: fixed;
    top: 11rem;
    right: 0;
    z-index: 2;
    
    button {
        border-radius: 0 0 50% 50%;
        appearance: none;
        border: none;
        height: 5rem;
        width: 5rem;
        box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.082);

        &:active {
            transform: scale(.9);
            transition: all 0.2s ease-in-out;
        }
    }
}

.InicioPaneldeControl__div {
    display: flex;
    flex-direction: column;
    height: 100vh;
    @include m.tablet {
        padding: 0 35rem;
        
    }
    
}

.InicioPaneldeControl {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    

    h1 {

        color: v.$negro;
        text-align: center;
        font-size: 2rem;
        margin: 0;

        @include m.tablet {
            font-size: 3rem;
        }
    }
}