@use 'base/mixins' as m;
@use 'base/variables' as v;

.panel-de-control {
    position: relative;

    @include m.tablet {
        display: grid;
        grid-template-columns: 1fr 6fr;

    }

}

.panel-de-control__menu_celular {
    border: none;
    position: fixed;
    top: 6rem;
    z-index: 10;
    
    button {
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        appearance: none;
        border: none;
        height: 5rem;
        width: 5rem;
        box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.082);

        &:active {
            transform: scale(.9);
            transition: all 0.2s ease-in-out;
        }
    }
}

.InicioPaneldeControl__div {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    height: 100vh;
}

.InicioPaneldeControl {
    padding: 2rem 0;

    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.692);
    background-blend-mode: overlay;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30rem;

    h1 {

        color: v.$negro;
        text-transform: uppercase;
        text-align: center;
        
        font-size: 2rem;
        margin: 0;

        @include m.tablet {
            font-size: 3rem;
        }
    }

    h3 {
        
        color: v.$negro;
        text-align: center;
        font-size: 1.3rem;
        margin: 0;
    }

}