@use 'base/mixins' as m;
@use 'base/variables' as v;

.root-socialIcons{
    position:relative;
    margin: 0 auto;
    margin-top: -4rem;

    @include m.desktop {
        padding-left:  67rem;
    }
}
.root2-img{
    margin: 0 auto;
    z-index: 10;
    height: 100%;
    width: 100%;
    outline: none;
    padding: 20rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
    filter:brightness(30%);
    
}