@use 'base/mixins' as m;
@use 'base/variables' as v;

.InfodeUsuario{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @include m.tablet {
        flex-direction: row;
        justify-content:flex-start;
    }
}

.InfodeUsuario__elemento{
    
}