@use 'base/mixins' as m;
@use 'base/variables' as v;

.RecuperarPassword-contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100vh;
    h2{
        margin: 7rem 0 0 0;
        font-size: 2rem;
        color: v.$secundario;
    }
}

.RecuperarPassword {
    
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
    margin-top: 5rem;
    background-color: v.$gris;
    padding: 2rem;
    width: 30rem;
    
    
    .login__form{
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }
    .login_container_input {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }

    .login_buttons__button {
        display: flex;
        justify-content: center;
        button{
            display: flex;
            gap: .5rem;
            align-items: center;
            justify-content: center;
            border: none;
            border-radius: 5px;
            height: 3rem;
            width: 100%;
            padding: 1rem;
            color: v.$negro;
            opacity: 1;
            transition: opacity 0.3s ease-in-out;
            transition: box-shadow .5s;
            cursor: pointer;
            
            &:active {
                opacity: .5;
                transform: scale(.8);
            }
            
            &:hover {
                opacity: .9;
                box-shadow: 2px 2px 2px #0000001f;
            }

        }
    }
}