@use 'base/mixins' as m;
@use 'base/variables' as v;

.contenedor__UserBasicInfo{
    width: 50%;
    background-color: v.$gris;
    border-radius: 2rem;
    margin-bottom: 100vh;
}


.UserBasicInfo__Error{
    border:1px solid red;
}

.UserBasicInfo__form{
padding: 2rem;
}

.UserBasicInfo__form__input{
    width: 70%;
    border-radius: 5px;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    
}
.UserBasicInfo__form__input__verified{
    display: flex;
    flex-direction: column;
    width: 40rem;
    div{
        display: flex;
        gap: 1rem;
        color: v.$oscurecer;

    }
}