@use 'base/mixins' as m;
@use 'base/variables' as v;

.contenedor__UserBasicInfo {
    
    background-color: v.$gris;
    border-radius: 2rem;
    margin: 6rem 1rem;
    @include m.tablet {
        max-width: 40rem;
    }

    button {
        display: flex;
        gap: .5rem;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 5px;
        height: 3rem;
        width: 100%;
        padding: 1rem;
        color: v.$negro;
        background-color: v.$secundario;
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
        transition: box-shadow .5s;
        cursor: pointer;

        &:active {
            opacity: .5;
            transform: scale(.8);
        }

        &:hover {
            opacity: .9;
            box-shadow: 2px 2px 2px #0000001f;
        }
        &:focus{
            outline-color: v.$primario;
        }
    }
}


.UserBasicInfo__Error {
    border: 1px solid red;
}

.UserBasicInfo__form {
    padding: 4rem;
    
    
}

.UserBasicInfo__form__input {
    border-radius: 5px;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    input{

        &:focus{
            outline-color: v.$primario;
        }
    }

}

.UserBasicInfo__form__input__verified {
    display: flex;
    flex-direction: column;
    div {
        display: flex;
        gap: 1rem;
        color: v.$oscurecer;
        align-items: center;
       
    }
    @include m.tablet {
        flex-direction: row;
    }
}
.UserBasicInfo__Email-No-verificado{
    display: flex;
    flex-direction: column;

    button{
        box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.596);
    }
}