@use 'base/mixins' as m;
@use 'base/variables' as v;

.AppMusic {
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    flex-flow: wrap;
    margin-bottom: 6rem;
    padding-bottom: 10rem;
    position: relative;

}


