@use 'base/mixins' as m;
@use 'base/variables' as v;


.BotonesAppMusic {
    display: flex;
    position: absolute;
    align-items: center;
    gap: .5rem;
    top: 1rem;
    

    .BotonesAppMusic__boton-playstop-listadoproducciones, .BotonesAppMusic__boton-stop-listadoproducciones{
        display: flex;
        align-items: center;
        border: none;
        border-radius: 50%;
        height: 3rem;
        width: 3rem;
        box-shadow: 2px 2px 2px #0000001f;
        color: v.$primario;
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
        transition: transform .5s;
        cursor: pointer;

        &:active {
            opacity: .5;
            transform: scale(1.2);
        }
        &:hover {
            opacity: .9;
        }
    }
    .BotonesAppMusic__boton-stop-listadoproducciones {
        position: absolute;
        right: 17.3rem;
        bottom: 2.7rem;
        transform: scale(.7);
        &:active {
            
            transform: scale(1);
        }
    }
    .BotonesAppMusic__duration-listadoproducciones{
        position: absolute;
        right: -2.2rem;
        color: v.$blanco;
        font-size: 1rem;
    }
    .BotonesAppMusic__progressduration-listadoproducciones{
        color: v.$blanco;
        font-size: 1rem;
          
    }

    .BotonesAppMusic__barra-de-despazamiento-listadoproducciones,.BotonesAppMusic__control-volumen-listadoproducciones {
        -webkit-appearance: none;
        width: 100%;
        background: v.$blanco;
        height: .5rem;
        border-radius: .1rem;
        outline: none;
        opacity: 1;

        -webkit-transition: .2s;
        transition: opacity .2s;


        &:hover {
            opacity: .9;
        }
        
        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            height: 1.5rem;
            width: 1.5rem;
            background: v.$secundario;
            border-radius: 50%;
            box-shadow: 2px 2px 2px #0000001f;
            cursor: pointer;
        }
    }

    .BotonesAppMusic__control-volumen-listadoproducciones{
        position:absolute;
        left: -3.5rem;
        bottom: 2rem;
        transform: rotate(-90deg);
        width: 4rem;
        height: .3rem;
        margin: 0;
    }
    
    
    
    
    
}
.BotonesAppMusic__elementos-info-reproductor{
    position: absolute;
    display: flex;
    align-items:flex-start;
    right: -2rem;
    top: -2.9rem;
    height: 7rem;
    width: 18rem;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.884);
    border-radius: 1rem;
    box-shadow: 2px 2px 6px #00000028;
    ul {
        padding: 0;
        width: 18rem;
        margin: 0 ;
    }
    li {
        display: flex;
        gap: .5rem;
        list-style: none;
        align-items:flex-start;
        justify-content:flex-start;
        cursor: pointer;
        margin: .5rem;
        
        &:hover{
            background-color: rgba(0, 0, 0, 0.13);
        }
        
    }
    
    a {
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        p {
            color: v.$primario;
            margin: 0;
        }
    }
}

.BotonesAppMusic__boton-info-reproductor{
    position:absolute;
    bottom: 5.8rem;
    right: -4rem;
    display: flex;
    align-items: center;
    border: none;
    background: none;
    color: v.$blanco;
    
    &:hover{
        cursor: pointer;
    }
    &:active {
        
        transform: scale(1.1);
    }

    
}
