@use 'base/mixins' as m;
@use 'base/variables' as v;

.ItemAppMusic {
    display: flex;
    flex-direction: column;
    
    width: 23rem;
    height: 23rem;
    align-items: center;
    justify-content: start;
    transition: box-shadow .5s linear, transform 1s ease-in-out;
    border-radius: 2rem;
    transform: scale(1);
    

    &:hover {
        box-shadow: 1px 1px 1rem v.$negro;
    
    }
    .ItemAppMusic__imagen{
        height: 14rem;
        width: 23rem;
        position: relative;
    }

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 2rem;

    }
    

    
    .ItemAppMusic__playboton{
        display: flex;
        align-items: center;
        position: absolute;
        justify-content: center;
        flex-direction: column;
        top: 4.5rem;
        left: 9rem;
        color: v.$secundario;
        transition: opacity 1s;
        opacity: 1%;
        
        &:hover{
            opacity: 100%;
        }
    }
}
.ItemAppMusic.selected {
    z-index: 2;
    transform: scale(1.5);
    margin-bottom: 5rem;
    box-shadow: 2px 2px 1rem #000000fb;
    background-color: v.$blanco;
}
.ItemAppMusic__texto {
    position: relative;
    padding: 1rem 1.5rem;
    text-align:center;
    justify-content: center;

    
}
.ItemAppMusic__texto__titulo {
    display: flex;
    flex-direction: column;
    align-items:center;
    .ItemAppMusic__texto-1 {
        margin: 0;
        font-size: 2rem;
        color: v.$negro;
    }

    .ItemAppMusic__texto-2 {
        margin: 0;
        font-size: 1.5rem;
        color: rgb(26, 26, 26);
        
    }
    
}

.ItemAppMusic__texto-3 {
    margin: 0;
    font-size: 1.7rem;
    color: v.$negro;
    
}
.ItemAppMusic__botones{
    position: relative;
    height: 8rem;
    width: 19rem;
    margin: 0;
    padding: 0;
}

.ItemAppMusic__player-wrapper {
    position: relative; 
    height: 12rem;
    width: 23rem;
    padding-top: 56.25%;
    border-radius: 2rem;
    overflow: hidden;
}

.ItemAppMusic__react-player {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 2rem;
}