@use 'base/mixins' as m;
@use 'base/variables' as v;

.ItemAppMusic {
    display: flex;
    flex-direction: column;
    background-color: v.$primario;
    width: 25rem;
    height: 27rem;
    align-items: center;
    justify-content: start;
    transition: box-shadow 1s;
    border-radius: 2rem;
    

    &:hover {
        box-shadow: 1px 1px 1rem v.$secundario;
    
    }
    .ItemAppMusic__imagen{
        height: 18rem;
        width: 25rem;
        position: relative;
    }

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;

    }
    

    
    .ItemAppMusic__playboton{
        display: flex;
        align-items: center;
        position: absolute;
        justify-content: center;
        flex-direction: column;
        top: 7.5rem;
        left: 10rem;
        color: v.$secundario;
        transition: box-shadow 1s;
        box-shadow: 1px 1px .7rem v.$secundario;
        &:hover{
            box-shadow: 1px 1px 3rem v.$primario;
        }
    }
}
.ItemAppMusic__texto {
    position: relative;
    height: 5rem;
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: center;
    color: v.$blanco;

    
}
.ItemAppMusic__texto__titulo {
    display: flex;
    align-items:baseline;
    justify-content: center;
    gap: .5rem;
    height: 3rem;
    .ItemAppMusic__texto-1 {
        margin: 0;
        font-size: 2rem;
        color: v.$blanco;
    }

    .ItemAppMusic__texto-2 {
        margin: 0;
        font-size: 1.5rem;
        color: v.$secundario;
        
    }
    
}

.ItemAppMusic__texto-3 {
    margin: 0;
    font-size: 1.7rem;
    color: v.$secundario;
    
}
.ItemAppMusic__botones{
    position: relative;
    height: 8rem;
    width: 19rem;
    margin: 0;
    padding: 0;
}
.ItemAppMusic.selected {
    margin: 2rem 3rem;
    z-index: 2;

    transform: scale(1.3);
    box-shadow: 2px 2px 6px #00000015;
}
.ItemAppMusic__player-wrapper {
    position: relative; 
    height: 18rem;
    width: 25rem;
    padding-top: 56.25%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    overflow: hidden;
}

.ItemAppMusic__react-player {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}