@use 'base/mixins' as m;
@use 'base/variables' as v;

.songDetail__appmusic{
    padding: 2rem;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include m.tablet {
        flex-direction: row;
    }
}

